<!-- Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/login.js" defer></script>
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <input id="id" type="text" placeholder="userid" />
          <input id="name" type="text" placeholder="username" />
          <input id="pw" type="password" placeholder="password" />
          <input id="confirm-pw" type="password" placeholder="confirm password" />
          <button>create</button>
          <p class="message">Already registered? <a href="/login">Sign In</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
